@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

$text: "Alata", sans-serif;
$title: "Josefin Sans", sans-serif;

$desktop-2: 1024px;
$tablet: 768px;
$mobile-1: 425px;
$mobile-2: 375px;

@mixin desktop-2 {
  @media (max-width: #{$desktop-2}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile-1 {
  @media (max-width: #{$mobile-1}) {
    @content;
  }
}

@mixin mobile-2 {
  @media (max-width: #{$mobile-2}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  header {
    padding: 2.5rem 1.5rem;
    position: relative;

    #logo {
      z-index: 1;
      position: absolute;
      left: 2rem;
      top: 1.8rem;

      @include mobile-1 {
        top: 4.8rem;
        height: 4rem;
      }
    }

    #hero {
      z-index: -1;
      margin: -5rem -2rem;
      width: 104.3%;

      @include desktop-2 {
        width: 127.5%;
      }

      @include tablet {
        width: 167%;
        height: 39rem;
      }

      @include mobile-1 {
        display: none;
      }
    }

    #hero-mobile {
      display: none;

      @include mobile-1 {
        display: block;
        width: 314%;
        margin: -3rem -2rem;
      }

      @include mobile-2 {
        width: 335%;
      }

      @include mobile-3 {
        width: 386%;
      }
    }

    #burger {
      display: none;

      @include mobile-1 {
        display: block;
        width: 5rem;
        height: 5rem;
        position: absolute;
        left: 63rem;
        top: 5rem;
      }

      @include mobile-2 {
        left: 60rem;
      }

      @include mobile-3 {
        left: 55rem;
      }
    }

    .nav {
      position: absolute;
      left: 53rem;
      top: 2rem;

      @include desktop-2 {
        left: 48rem;
        display: flex;
      }

      @include tablet {
        left: 45rem;
      }

      @include mobile-1 {
        display: none;
      }

      a {
        font-family: $text;
        text-decoration: none;
        font-size: 16px;
        color: #fff;
        margin: 0 1rem;
        cursor: pointer;
        transition: all 0.2s ease;

        @include tablet {
          font-size: 18px;
        }
      }

      a:hover {
        border-bottom: 2.5px solid #fff;
      }
    }

    .mobile-menu {
      display: none;

      @include mobile-1 {
        display: none;
        background-color: black;
        position: absolute;
        height: 128rem;
        width: 73.5rem;
        top: 0rem;
        left: 0rem;

        #close {
          display: none;

          @include mobile-1 {
            display: block;
            position: absolute;
            left: 60rem;
            top: 5rem;
          }

          @include mobile-3 {
            left: 56rem;
          }
        }

        img {
          width: 5rem;
          height: 5rem;
        }

        .nav-menu {
          margin-top: 26rem;
          a {
            text-decoration: none;
            color: hsl(0, 0%, 55%);
            font-size: 50px;
            display: block;
            font-family: $title;
            text-transform: uppercase;
            margin: 2.5rem 3rem;
          }
        }
      }
    }

    h1 {
      font-family: $title;
      font-weight: 300;
      text-transform: uppercase;
      padding: 2.2rem 1rem;
      border: 1px solid #fff;
      font-size: 50px;
      color: #fff;
      width: 35%;
      position: absolute;
      top: 15rem;

      @include desktop-2 {
        width: 44%;
      }

      @include tablet {
        width: 54%;
      }

      @include mobile-1 {
        width: 226%;
        font-size: 131px;
        margin: 26rem 2.5rem;
      }
    }
  }

  .first {
    margin: 8.5rem 5rem;

    @include mobile-1 {
      margin: 38.5rem 5rem;
    }

    @include mobile-3 {
      margin: 45.5rem 5rem;
    }

    img {
      height: 26rem;
      width: 53%;

      @include desktop-2 {
        width: 70%;
      }

      @include tablet {
        width: 95%;
      }

      @include mobile-1 {
        width: 323%;
        position: relative;
        top: -28rem;
        left: 5rem;
        height: 35rem;
      }

      @include mobile-2 {
        width: 373%;
        height: 37rem;
      }

      @include mobile-3 {
        width: 501%;
        left: 1rem;
      }
    }

    .right-txt {
      position: absolute;
      left: 37rem;
      top: 49rem;
      background-color: white;
      width: 50%;
      padding: 3rem 5rem;

      @include desktop-2 {
        left: 35rem;
        top: 45rem;
        width: 64%;
      }

      @include tablet {
        left: 34rem;
        top: 48rem;
        width: 83%;
      }

      @include mobile-1 {
        left: 10rem;
        top: 182rem;
        width: 110%;
      }

      @include mobile-2 {
        left: 3rem;
        top: 178rem;
        width: 141%;
      }

      @include mobile-3 {
        top: 175rem;
        width: 141%;
      }
    }

    h2 {
      font-family: $title;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 40px;
      width: 67%;
      margin-bottom: 1.5rem;

      @include mobile-1 {
        font-size: 64px;
        width: 171%;
      }

      @include mobile-3 {
        width: 187%;
      }
    }

    p {
      font-family: $text;
      font-size: 18px;
      color: hsl(0, 0%, 55%);
      width: 101%;
      line-height: 1.8rem;

      @include mobile-1 {
        font-size: 42px;
        width: 251%;
        line-height: 4.8rem;
      }

      @include mobile-3 {
        width: 268%;
      }
    }
  }

  .second {
    @include mobile-1 {
      margin-bottom: 15rem;
    }

    .top {
      h2 {
        font-family: $title;
        text-transform: uppercase;
        font-size: 35px;
        margin: 3rem 2rem;

        @include desktop-2 {
          margin: 3rem;
        }

        @include tablet {
          margin: 3rem 3.5rem;
        }

        @include mobile-1 {
          margin: 3rem 16.5rem;
          width: 151%;
          font-size: 72px;
        }

        @include mobile-2 {
          margin: 3rem 13.5rem;
          width: 159%;
        }
      }

      button {
        font-family: $title;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
        padding: 0.5rem 1.8rem;
        position: absolute;
        left: 72rem;
        top: 77rem;
        cursor: pointer;
        transition: all 0.3s ease;

        @include desktop-2 {
          left: 64rem;
          top: 73rem;
          width: 14%;
        }

        @include tablet {
          left: 62rem;
          top: 78rem;
          width: 16%;
        }

        @include mobile-1 {
          padding: 1.5rem 2rem;
          left: 24rem;
          top: 470rem;
          width: 98%;
          font-size: 45px;
        }

        @include mobile-2 {
          left: 22rem;
          top: 439rem;
        }

        @include mobile-3 {
          top: 446rem;
        }
      }

      button:hover {
        background-color: #000;
        color: #fff;
        border: 1px solid transparent;
      }
    }

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: stretch;
      align-items: stretch;
      margin-left: 1rem;
      margin-bottom: -1rem;

      @include mobile-1 {
        display: none;
      }

      @include desktop-2 {
        margin-bottom: -2rem;
        margin-left: 4.5rem;
        grid-column-gap: 35px;
        width: 106%;
      }

      @include tablet {
        margin-left: 3.5rem;
        width: 137%;
      }

      .image-poster {
        width: 100%;
        height: 85%;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      .image-poster:hover {
        background-color: #fff;
        opacity: 0.5;
        color: #000;
      }

      img {
        width: 95%;

        @include desktop-2 {
          width: 109%;
        }
      }

      h3 {
        position: relative;
        left: 1rem;
        top: -8rem;
        font-family: $title;
        color: #fff;
        width: 60%;
        font-size: 45px;
        transition: all 0.3s ease;

        @include desktop-2 {
          width: 88%;
        }
      }

      h3:hover {
        color: #000;
      }

      .bottom-grid {
        margin-top: -5rem;

        @include desktop-2 {
          margin-top: -5rem;
        }
      }
    }

    .container-mobile {
      display: none;

      @include mobile-1 {
        display: block;
        margin-top: 11rem;
      }

      .margin {
        margin-top: 5rem;
      }

      img {
        width: 260%;
        margin-left: 2rem;
        margin-top: -8rem;

        @include mobile-3 {
          width: 276%;
          margin-left: 4rem;
        }
      }

      h3 {
        font-family: $title;
        font-size: 76px;
        width: 77%;
        position: relative;
        top: -12rem;
        left: 7rem;
        color: #fff;

        @include mobile-2 {
          width: 86%;
        }

        @include mobile-2 {
          left: 5rem;
        }
      }
    }
  }

  footer {
    background-color: #000;
    padding: 1.5rem 5rem;
    height: 10rem;

    @include desktop-2 {
      width: 120.5%;
    }

    @include tablet {
      width: 155%;
    }

    @include mobile-1 {
      width: 277%;
      height: 55rem;
    }

    @include mobile-2 {
      padding: 1.5rem 1rem;
    }

    @include mobile-3 {
      width: 325%;
    }

    img {
      margin-left: 1rem;

      @include mobile-1 {
        margin-left: 22.5rem;
        margin-top: 3rem;
        height: 5rem;
        width: 21rem;
      }
    }

    .nav {
      margin-top: 2rem;

      @include mobile-1 {
        margin-top: 3rem;
        margin-left: 25rem;
        display: flex;
        flex-direction: column;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      font-family: $text;
      font-size: 19px;
      margin: 0 0.8rem;
      cursor: pointer;
      transition: all 0.3s ease;

      @include mobile-1 {
        font-size: 41px;
        margin: 0.5rem 1.8rem;
      }
    }

    a:hover {
      border-bottom: 2.5px solid #fff;
    }

    .right {
      position: relative;

      .socials {
        position: absolute;
        left: 60rem;
        top: -5rem;

        @include desktop-2 {
          left: 54rem;
        }

        @include tablet {
          left: 51rem;
        }

        @include mobile-1 {
          left: 18rem;
          top: 4rem;
        }

        i {
          font-size: 23px;

          @include mobile-1 {
            font-size: 56px;
          }
        }
      }

      p {
        position: absolute;
        left: 55rem;
        top: -1.5rem;
        color: hsl(0, 0%, 55%);
        font-size: 16px;
        font-family: $text;

        @include desktop-2 {
          left: 49rem;
        }

        @include tablet {
          left: 46rem;
        }

        @include mobile-1 {
          left: 12rem;
          top: 12.5rem;
          font-size: 35px;
        }
      }
    }
  }
}
